.mce-content-body {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
	font-size: 16px;
}
img {
  max-width: 100%;
  height: auto;
}
