
/* CLS Global Footer CSS */

.cls-global-footer-body {
    padding: 1rem 0;
}
.cls-global-footer-inverse {
    background: #333;
    color: #FFF;
}
.cls-global-footer-inverse a {
    color: #FFF;
}
.cls-global-footer-inverse a:hover {
    color: #FFF;
}
.cls-global-footer-sponsors {
    background: #777;
    color: #FFF;
    padding: 1.4rem 00 0;
    margin: 1rem 0 0;
}
.cls-global-footer-legal {
  padding: 1rem 0;
  background: #222;
  color: #fff;
}
