/*!
 * Main SCSS
 * Copyright Chester-le-Street ASC and Christopher Heppell
 */

/* autoprefixer grid: autoplace */

// @import 'chester/custom';       // Bootstrap Overrides
// @import 'chester/genericCustom';       // Bootstrap Overrides

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";

// 5. Add additional custom code here

$fa-font-path: "../../fa-fonts";
@import "font-awesome/font-awesome";

@import "chester/chester";  // Bootstrap Source Files
